html {
  font-size: 100%;
}

body {
  color: #383e45;
  font-size: 0.9rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  font-family: Arial;
  color: white;
}

img {
  max-width: 100%;
}

.content {
  max-width: 1000px;
  padding: 0 16px;
  text-align: center;
  margin-bottom: 16px;
}

.content-title {
  align-items: center;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/

#header {
  background-image: url(../images/mainvisual.jpg);
  background-size: cover;
  max-width: 1000px;
  height: 580px;
}

#header nav {
  text-align: left;
  float: right;
  padding: 20px;
}

#header ul {
  display: flex;
}

#header li {
  margin-left: 15px;
}

#header a {
  font-size: 12px;
  color: aliceblue;
  font-family: Helvetica Neue;
}

#header a:hover {
  color: red;
}

#header .mainvisual {
  height: 100%;
}

#header img {
  max-width: 70%;
  padding: 20% 0;
}

/*-------------------------------------------
MENU
-------------------------------------------*/

#menu {
  background-image: url(../images/menu.jpg);
  background-attachment: fixed;
  background-size: cover;
  max-width: 1000px;
  background-position: center;
  height: 200px;
}

#menu h1 {
  align-items: center;
}

/*-------------------------------------------
ABOUT
-------------------------------------------*/

#about {
  background-image: url(../images/about.jpg);
  background-attachment: fixed;
  background-size: cover;
  max-width: 1000px;

  height: 200px;
}

/*-------------------------------------------
ACCESS
-------------------------------------------*/

#access {
  background-image: url(../images/access.jpg);
  background-attachment: fixed;
  background-size: cover;
  max-width: 1000px;

  height: 200px;
}

/*-------------------------------------------
CONTACT
-------------------------------------------*/

#contact {
  background-image: url(../images/contact.jpg);
  background-attachment: fixed;
  background-size: cover;
  max-width: 1000px;

  height: 200px;
}

/*-------------------------------------------
フッター
-------------------------------------------*/

footer p {
  font-size: 9px;
  text-align: center;
}

/*-------------------------------------------
SP
-------------------------------------------*/
